# Project 2: Part 3
ST 590  
Summer 2022  
By Claudia Donahue and Collin Knezevich

For part 3, you’ll want to take the code you created for homework 4 and do similar things via spark. (This part should be very easy/short if you have spark up and running! You can use the spark SQL or pandas-on-spark functionality rather than writing your own MapReduce type code.) That is, you want to:  

• read in the full nfl data set into spark a spark data frame or pandas-on-Spark data frame

In [49]:
import pandas as pd
import numpy as np
import pyspark.pandas as ps
from pyspark.sql import SparkSession
import pyspark.sql.functions as func

spark = SparkSession.builder.master('local[*]').appName('my_app').getOrCreate()

data = spark.read.load("scoresFull.csv",
                     format="csv", 
                     sep=",", 
                     inferSchema="true", 
                     header="true")

• use spark SQL or pandas-on-Spark to find the mean and standard deviation for the AQ1, AQ2, AQ3, AQ4, AQFinal, HQ1, HQ2, HQ3, HQ4, and HFinal variables

In [88]:
# select the desired columns and save them as a pyspark df
df2 = data.select('AQ1','AQ2','AQ3','AQ4','AFinal','HQ1','HQ2','HQ3','HQ4','HFinal')

In [86]:
# Find the mean of each column
df3 = df2.select(*[func.mean(c).alias(c) for c in df2.columns])

df3 = df3.select(*[func.round(c).alias(c) for c in df3.columns])

df3.show()

+---+---+---+---+------+---+---+---+---+------+
|AQ1|AQ2|AQ3|AQ4|AFinal|HQ1|HQ2|HQ3|HQ4|HFinal|
+---+---+---+---+------+---+---+---+---+------+
|4.0|6.0|4.0|6.0|  21.0|5.0|7.0|5.0|6.0|  23.0|
+---+---+---+---+------+---+---+---+---+------+

In [87]:
# Find the std of each column
df4 = df2.select(*[func.stddev(c).alias(c) for c in df2.columns])

df4 = df4.select(*[func.round(c).alias(c) for c in df4.columns])

df4.show()

+---+---+---+---+------+---+---+---+---+------+
|AQ1|AQ2|AQ3|AQ4|AFinal|HQ1|HQ2|HQ3|HQ4|HFinal|
+---+---+---+---+------+---+---+---+---+------+
|4.0|5.0|5.0|5.0|  10.0|5.0|6.0|5.0|5.0|  10.0|
+---+---+---+---+------+---+---+---+---+------+

• repeat the above process but do so for each value of the season variable

In [120]:
# select the desired columns and save them as a pyspark df
df1 = data.select('season','AQ1','AQ2','AQ3','AQ4','AFinal','HQ1','HQ2','HQ3','HQ4','HFinal')

# group by season and calculate mean for each column/row
df1 = df1.groupBy("season").mean()

# drop the column for average of the 'season' 
df1 = df1.drop('avg(season)')

# round all columns
df6 = df1.select(*[func.round(c).alias(c) for c in df1.columns])

# Sort by the season/year
df6.sort('season').show()

+------+--------+--------+--------+--------+-----------+--------+--------+--------+--------+-----------+
|season|avg(AQ1)|avg(AQ2)|avg(AQ3)|avg(AQ4)|avg(AFinal)|avg(HQ1)|avg(HQ2)|avg(HQ3)|avg(HQ4)|avg(HFinal)|
+------+--------+--------+--------+--------+-----------+--------+--------+--------+--------+-----------+
|  2002|     4.0|     6.0|     4.0|     6.0|       21.0|     4.0|     7.0|     5.0|     6.0|       23.0|
|  2003|     4.0|     6.0|     4.0|     5.0|       19.0|     5.0|     7.0|     5.0|     6.0|       23.0|
|  2004|     4.0|     6.0|     4.0|     6.0|       20.0|     5.0|     7.0|     4.0|     7.0|       23.0|
|  2005|     4.0|     6.0|     4.0|     5.0|       19.0|     4.0|     7.0|     5.0|     6.0|       22.0|
|  2006|     4.0|     6.0|     4.0|     6.0|       20.0|     5.0|     6.0|     5.0|     6.0|       21.0|
|  2007|     4.0|     6.0|     4.0|     6.0|       20.0|     5.0|     7.0|     5.0|     6.0|       23.0|
|  2008|     4.0|     6.0|     4.0|     6.0|       21.0|     5.0|     7.0|     5.0|     6.0|       23.0|
|  2009|     4.0|     6.0|     4.0|     6.0|       20.0|     5.0|     8.0|     4.0|     6.0|       23.0|
|  2010|     4.0|     7.0|     5.0|     6.0|       21.0|     5.0|     7.0|     5.0|     7.0|       23.0|
|  2011|     4.0|     6.0|     5.0|     6.0|       21.0|     5.0|     7.0|     5.0|     6.0|       24.0|
|  2012|     4.0|     6.0|     5.0|     6.0|       22.0|     5.0|     7.0|     5.0|     7.0|       24.0|
|  2013|     4.0|     7.0|     5.0|     6.0|       22.0|     5.0|     7.0|     5.0|     7.0|       25.0|
|  2014|     4.0|     6.0|     5.0|     6.0|       21.0|     5.0|     7.0|     5.0|     6.0|       24.0|
+------+--------+--------+--------+--------+-----------+--------+--------+--------+--------+-----------+

In [118]:
# Same for stdev
# select the desired columns and save them as a pyspark df
df1 = data.select('season','AQ1','AQ2','AQ3','AQ4','AFinal','HQ1','HQ2','HQ3','HQ4','HFinal')

# group by season and calculate stdev for each column
df1 = df1.groupBy("season")

df1.show()

AttributeError: 'GroupedData' object has no attribute 'show'

• convert the resulting means from the previous part to a pandas data frame (not spark) and plot the means for the ‘quarter’ variables across season (that is, put season on the x-axis, mean of AQ1, AQ2, . . . , HQ4 on the y-axis, using different colors for each line with a legend)

In [121]:
means = df6.sort('season').toPandas()
means

,season,avg(AQ1),avg(AQ2),avg(AQ3),avg(AQ4),avg(AFinal),avg(HQ1),avg(HQ2),avg(HQ3),avg(HQ4),avg(HFinal)
0,2002,4.0,6.0,4.0,6.0,21.0,4.0,7.0,5.0,6.0,23.0
1,2003,4.0,6.0,4.0,5.0,19.0,5.0,7.0,5.0,6.0,23.0
2,2004,4.0,6.0,4.0,6.0,20.0,5.0,7.0,4.0,7.0,23.0
3,2005,4.0,6.0,4.0,5.0,19.0,4.0,7.0,5.0,6.0,22.0
4,2006,4.0,6.0,4.0,6.0,20.0,5.0,6.0,5.0,6.0,21.0
5,2007,4.0,6.0,4.0,6.0,20.0,5.0,7.0,5.0,6.0,23.0
6,2008,4.0,6.0,4.0,6.0,21.0,5.0,7.0,5.0,6.0,23.0
7,2009,4.0,6.0,4.0,6.0,20.0,5.0,8.0,4.0,6.0,23.0
8,2010,4.0,7.0,5.0,6.0,21.0,5.0,7.0,5.0,7.0,23.0
9,2011,4.0,6.0,5.0,6.0,21.0,5.0,7.0,5.0,6.0,24.0
10,2012,4.0,6.0,5.0,6.0,22.0,5.0,7.0,5.0,7.0,24.0
11,2013,4.0,7.0,5.0,6.0,22.0,5.0,7.0,5.0,7.0,25.0
12,2014,4.0,6.0,5.0,6.0,21.0,5.0,7.0,5.0,6.0,24.0

• As always, you should have a basic narrative flowing through what you are doing and an interpretation of any stats/graphs created.